body{
	font-size:18px;
	background-color:#1E1E1E;
	margin:0;
	}
header{
	position:relative;
	background-image:url(85959ff14ec5d296633beef7a60f66bf.jpeg);
	background-size:cover;
	height:100vh;
}
.logo{
	width:90%;
}
nav{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	width:300px;
	background-color:rgba(255,255,255, 0.5);
	box-shadow:3px 0 5px 0 black;
	height:100%;
}
.link{
	width:30px;
}
header h1{
	position:absolute;
	top:-1%;
	right:5%;
	font-size:90px;
	letter-spacing:7px;
	font-weight:900;
text-align:center;
}
header span{
	font-size:120px;
}
header a{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;	
	text-decoration:none;
	color:black;
	margin-right:5%;
	font-size:22px;
	position:relative;
	left:45%;
	transition:1s;
}
header a p{
	opacity:0;
}
header a:hover {
	left:0;
}
header a:hover p{
	opacity:1;
}


nav{

	overflow:hidden;
}
.music{
	padding:5%;
}
.plastinka{
	position:absolute;
	height:350px;
	top:-20px;
	left:-100px;
	transition:3s;
	z-index:50;
}
.animation{
	position:relative;
}
.text{
	font-size:22px;
	background-color:orange;
	border-radius: 15px 20% 20% 15px;
	transition:3s;
	opacity:0;
	overflow:hidden;
	height:320px;
	width:0;
}
.text p, .text h2{
	padding: 1% 30% 1% 5%;
}
.animation:hover .plastinka{
	left:73%;
	transform:rotate(360deg);
}
.animation:hover .text{
	opacity:1;
	width:100%;
}
audio{
display:block;
margin-top:2%;
width:100%;
}
.music h2{
color:white;
text-align:center;
} 
.gallery{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	position:relative;
	padding: 5% 3%;
}
.gallery img{
	max-height:300px;
	
	transition:1s;
	
}
.gallery img:hover{
	transform:scale(1.5);
	z-index:50;
}